<template>
  <div class="w-full animate-pulse lg:w-[962px]">
    <div class="mb-4 grid grid-cols-6 gap-4">
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
    </div>
    <div class="mb-2 grid grid-cols-6 gap-4">
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
    </div>
    <div class="mb-2 ml-10 grid grid-cols-6 gap-4">
      <div class="col-span-2 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
    </div>
    <div class="mb-2 ml-10 grid grid-cols-6 gap-4">
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-2 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
    </div>
    <div class="mb-4 ml-10 grid grid-cols-6 gap-4">
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-2 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
    </div>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-2 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-2 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-2 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-2 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="col-span-1 h-4 rounded bg-gray-200 dark:bg-gray-500"></div>
    </div>
  </div>
</template>
